body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  /* background-color: rgb(138, 170, 167); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar li{
  padding: 8px 16px;
  text-decoration: none;
  display: inline; 
}
.navBar li a{
  color: black;
  text-decoration: none;
}
.navBar li a :visited{
  color: black;
}
.navBar li :hover{
  color: teal;
}
.createUser, .login{
   width: 200px;
   margin: auto;
}
.createUser input, .login input{
display: block;
}